name: Build pyclean

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

env:
  chimplink_version: v0.8.0

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get Cosmopolitan Python
        run: |
          wget https://cosmo.zip/pub/cosmos/bin/python -O python.exe
          chmod +x python.exe

          PY_VERSION=$(./python.exe -c "import sys; print(f'{sys.version_info.major}.{sys.version_info.minor}')")
          echo "py_version=$PY_VERSION" >> $GITHUB_ENV

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.py_version }}

      - name: Install and bundle dependencies
        run: |
          mkdir target

          # We're adding piwheels as an extra index-url to grab pre-built
          # python-only wheels for packages that only provide source distributions.
          pip install --extra-index-url https://www.piwheels.org/simple --target=./target --implementation py --platform any --abi none --only-binary=:all: -r requirements.txt

          folders=$(ls target)

          for folder in $folders; do
            python scripts/add_to_zip.py ./target/"$folder" ./python.exe Lib/site-packages/"$folder"
          done

          zip -urj python.exe scripts/.args

      - name: Rename
        run: mv python.exe pyclean.exe

      - name: Install deps
        run: |
          sudo apt update
          sudo apt install -y upx-ucl

      - name: Download blink
        run: |
          mkdir -p /tmp/blink
          cd /tmp/blink

          for item in \
            "blink-tiny-netbsd10.0-aarch64-stripped blink-netbsd-aarch64" \
            "blink-tiny-openbsd7.6-aarch64-stripped blink-openbsd-aarch64" \
            "blink-tiny-openbsd7.6-x86_64-stripped blink-openbsd-x86_64" \
            "blink-tiny-dragonflybsd6.4.0-x86_64-stripped blink-dragonflybsd-x86_64" \
            "blink-tiny-midnightbsd3.2.3-x86_64-stripped blink-midnightbsd-x86_64" \
            "blink-tiny-solaris11.4-x86_64-stripped blink-solaris-x86_64" \
            "blink-tiny-haikur1beta5-x86_64-stripped blink-haiku-x86_64" \
            "blink-tiny-linux-powerpc64le-stripped blink-linux-powerpc64le" \
            "blink-tiny-linux-i386-stripped blink-linux-i386" \
            "blink-tiny-linux-riscv64-stripped blink-linux-riscv64" \
            "blink-tiny-linux-loongarch64-stripped blink-linux-loongarch64" \
            "blink-tiny-linux-s390x-stripped blink-linux-s390x" \
            "blink-tiny-macos10.4-powerpc-stripped blink-macos-powerpc"
          do
            set -- $item
            wget "https://github.com/bjia56/blinkverse/releases/download/v8/$1" -O "$2"
            chmod +x "$2"
            if [[ "$2" == "blink-linux-powerpc64le" || "$2" == "blink-linux-i386" ]]; then
              upx --best "$2"
            fi
          done

      - name: Chimplink
        run: |
          wget https://github.com/bjia56/chimp/releases/download/${{ env.chimplink_version }}/chimplink
          chmod +x chimplink

          wget https://cosmo.zip/pub/cosmos/bin/ape-aarch64.elf
          wget https://cosmo.zip/pub/cosmos/bin/ape-x86_64.elf

          ./chimplink pyclean.exe pyclean ${{ github.sha }} \
            ape-x86_64.elf \
            ape-aarch64.elf \
            --os Linux /tmp/blink/blink-linux-* \
            --os NetBSD /tmp/blink/blink-netbsd-* \
            --os OpenBSD /tmp/blink/blink-openbsd-* \
            --os DragonFly /tmp/blink/blink-dragonflybsd-* \
            --os Solaris /tmp/blink/blink-solaris-* \
            --os MidnightBSD /tmp/blink/blink-midnightbsd-* \
            --os Haiku /tmp/blink/blink-haiku-* \
            --os Darwin /tmp/blink/blink-macos-*

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: pyclean
          path: pyclean